<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="admin_nav">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #73C2BE;">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="hasAuthority('View_Admin')" class="nav-item">
                    <a class="nav-link text-white active" id="users"  href="#" th:href="@{~/admin/users}">Users</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
