<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="company_nav">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #73C2BE;">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="hasAuthority('View_Company')" class="nav-item">
                    <a th:class="${type == ''}? 'nav-link text-white active' : 'nav-link text-white'" href="#" th:href="@{~/company/index}">All</a>
                </li>
                <li sec:authorize="hasAuthority('View_Company')" class="nav-item">
                    <a th:class="${type == 'clients'}? 'nav-link text-white active' : 'nav-link text-white'" href="#" th:href="@{~/company/index?type=clients}">Clients</a>
                </li>
                <li sec:authorize="hasAuthority('View_Company')" class="nav-item">
                    <a th:class="${type == 'agents'}? 'nav-link text-white active' : 'nav-link text-white'" href="#" th:href="@{~/company/index?type=agents}">Agents</a>
                </li>
                <li sec:authorize="hasAuthority('View_Company')" class="nav-item">
                    <a th:class="${type == 'suppliers'}? 'nav-link text-white active' : 'nav-link text-white'" href="#" th:href="@{~/company/index?type=suppliers}">Suppliers</a>
                </li>
                <li sec:authorize="hasAuthority('Add_Company')" class="nav-item">
                    <a class="nav-link text-white" href="#" id="add_new_activity" th:href="@{~/company/addCompany}">+Add new</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
