<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles"></head>
<body>

<header th:insert="fragments.html :: nav"></header>
<section th:insert="company/company_menu.html :: company_nav"></section>
<style type="text/css">

    .active {
        color: #9E0031 !important;
        font-weight: bold;
        font-style: italic;
    }

    #alert {
        margin-top: 20px;
    }

    .cursor {
        cursor: pointer;
        text-decoration: none;
    }

    .page-link {
        border-radius: 0px !important;

    }
</style>
<script type="text/javascript">
    $(document).ready(function () {


        $('#deleteCompany').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var companyID = button.data('object-id') // Extract info from data-object-name attribute

            $('#deleteCompanyForm').attr("action","/company/deleteCompany/"+companyID+"");
        })

        $('#searchText').focusout(function(){

            setURLParameters();
        });

        $('#itemsPerPage').change(function () {

            setURLParameters();

        })


        function setURLParameters() {

            var itemsPerPage = $('#itemsPerPage').val();

            location.href='/company/page/1/?&itemsPerPage='+itemsPerPage+' ';

        }
    })
</script>

    <!-- Page content goes here -->
    <div class="container-fluid">
        <div th:if="${message}" th:text="${message}" id="alert" th:class="${'alert ' + alertClass}" role="alert"></div>

        <div style="float: left; margin-bottom: 20px; margin-top: 20px;">
            <select class="form-control" id="itemsPerPage" name="itemsPerPage">
                <option value="" th:selected="${itemsPerPage == ''}">1</option>
                <option value="2" th:selected="${itemsPerPage == '2'}">2</option>
                <option value="3" th:selected="${itemsPerPage == '3'}">3</option>
                <option value="4" th:selected="${itemsPerPage == '4'}">4</option>
            </select>
        </div>
        <div style="float: right; margin-bottom: 20px; margin-top: 20px;">
            <a th:href="@{'/company/exportExcel'}"><img src="/icons/excel_icon.png" height="40" width="40" style="margin-bottom: 5px;"/></a>
<!--            <input type="text" name="searchText" id="searchText" class="form-control" th:value="${companyName == ''}? '' : ${companyName}" style="width: auto; display: inline;">-->
        </div>
        <table class="table table-bordered" style="margin-top: 30px;">
            <thead>
                <tr>
                    <th scope="col" style="border-bottom: 0px;">#</th>
                    <th scope="col" style="border-bottom: 0px;">Company name</th>
                    <th scope="col" style="border-bottom: 0px;">Company sales</th>
                    <th scope="col" style="border-bottom: 0px;">Sales person</th>
                    <th scope="col" style="border-bottom: 0px;">City</th>
                    <th scope="col" style="border-bottom: 0px;">Phone</th>
                    <th scope="col" style="border-bottom: 0px;">Email</th>
                    <th scope="col" colspan="3" style="border-bottom: 0px;">Options</th>
                </tr>
            </thead>
            <tbody th:if = "${companies.size() > 0}">
                <tr th:each="company, companyCount : ${companies}">
                        <td th:text="${companyCount.count}"></td>
                        <td th:text="${company.getName()}"></td>
                        <td th:text="${company.getSalesCompany() != null} ? ${company.getSalesCompany().getName()} : ''"></td>
                        <td th:text="${company.getSalesPerson() != null} ? ${company.getSalesPerson().getName()} : ''"></td>
                        <td th:text="${company.getCity()}"></td>
                        <td th:text="${company.getPhoneNumber()}"></td>
                        <td th:text="${company.getEmail()}"></td>
                        <td align="center" style="width: 100px;"><a sec:authorize="hasAuthority('Edit_Company')" th:href="@{'/company/editCompany/' + ${company.getId()}}" class="btn btn-success btn-sm text-white" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></a></td>
                        <td align="center" style="width: 100px;">
                            <a sec:authorize="hasAuthority('Delete_Company')" class="btn btn-danger btn-sm text-white" type="button" data-toggle="modal" th:attr="data-object-id=''+${company.getId()}+''" data-target="#deleteCompany" data-placement="top" title="Delete"><i class="fa fa-trash"></i></a>
                        </td>
                    <td align="center" style="width: 100px;"><a sec:authorize="hasAuthority('Edit_Company')" th:href="@{'/company/company_info/' + ${company.getId()}}" class="btn btn-info btn-sm text-white" type="button" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-info"></i></a></td>
                </tr>
            </tbody>
            <tbody th:if = "${companies.size() == 0}">
                <tr>
                    <td colspan="10" align="center">No results!</td>
                </tr>
            </tbody>
        </table>
        <div th:if = "${totalPages > 1}">

            <nav aria-label="...">
                <ul class="pagination justify-content-end">

                    <li class="page-item" th:if="${currentPage > 1}">
                        <a th:href="@{'/company/page/' + ${currentPage - 1}}" class="cursor">
                            <span class="page-link">Previous</span>
                        </a>
                    </li>
                    <li class="page-item disabled" th:unless="${currentPage > 1}">
                        <span class="page-link">Previous</span>
                    </li>

                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <li class="page-item active" th:if="${currentPage == i}">
                            <a class="cursor" th:href="@{'/company/page/' + ${i}}" style="color: white;">
                                <span class="page-link">[[${i}]]<span class="sr-only">(current)</span></span>
                            </a>
                        </li>
                        <li class="page-item" th:unless="${currentPage == i}">
                            <span class="page-link"><a class="cursor" th:href="@{'/company/page/' + ${i}}">[[${i}]]</a></span>
                        </li>
                    </span>

                    <li class="page-item" th:if="${currentPage != totalPages}">
                        <a class="cursor" th:href="@{'/company/page/' + ${currentPage + 1}}">
                            <span class="page-link">Next</span>
                        </a>
                    </li>
                    <li class="page-item disabled" th:unless="${currentPage != totalPages}">
                        <span class="page-link">Next</span>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Company</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="get" id="deleteCompanyForm">
                        <div class="modal-body">
                            Are you sure you want to delete this company?
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
