<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
    <body>
        <header th:insert="fragments.html :: nav"></header>
        <section th:insert="inquiry/inquiry_menu.html :: inquiry_nav"></section>

        <style type="text/css">
            #add_new_activity {
                color: #9E0031 !important;
                font-weight: bold;
                font-style: italic;
            }

        </style>

        <script type="text/javascript">
            $(document).ready(function(){
                $('#company').on("change", function() {

                    $('#contact').find('option').not(':first').remove();

                    $.ajax({
                        url: "http://localhost:8080/contacts/contactsByCompanyId/"+$('#company').val()+"",
                        data: "",
                        type: "GET",
                        success:function(data) {

                            if(data.length > 0) {

                                $.each(data, function(index, element) {

                                    $('#contact').append($('<option>', {
                                        value: element.id,
                                        text : element.name
                                    }));

                                });
                            }
                        }
                    });
                });
                $('#salesCompany').on("change", function() {

                    $('#salesContact').find('option').not(':first').remove();

                    $.ajax({
                        url: "http://localhost:8080/contacts/contactsByCompanyId/"+$('#salesCompany').val()+"",
                        data: "",
                        type: "GET",
                        success:function(data) {

                            if(data.length > 0) {

                                $.each(data, function(index, element) {

                                    $('#salesContact').append($('<option>', {
                                        value: element.id,
                                        text : element.name
                                    }));

                                });
                            }
                        }
                    });
                });
            });

        </script>

        <!-- Page content goes here -->
        <div class="container-fluid">
            <h2 style="margin-top: 25px; text-align: center;">Add inquiry</h2>
            <form class="col-lg-6 offset-lg-3 border" style="padding: 15px; margin-top: 30px; margin-bottom: 30px;" th:action="@{/inquiry/saveInquiry }" method="post" autocomplete="off">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="inqNr">Inquiry no.</label>
                            <input type="text" class="form-control" id="inqNr" name="inqNr" th:required="required" th:value="${lastInqId}" placeholder="Inquiry number">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="inqRevision">Inquiry revision</label>
                            <input type="text" class="form-control" id="inqRevision" name="inqRevision" th:required="required" value="0" placeholder="Inquiry revision">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="inqDate">Inquiry date</label>
                            <input type="text" class="form-control date" id="inqDate" name="inqDate" th:required="required" placeholder="Inquiry date">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="company">Company client</label>
                            <select class="form-control" id="company" name="company" th:required="required">
                                <option value="">Select company client</option>
                                <option th:each="company : ${companies}"
                                        th:value="${company.getId()}"
                                        th:text="${company.getName()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="contact">Contact</label>
                            <select class="form-control" id="contact" name="contact">
                                <option value="" selected="selected">Select contact</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="salesCompany">Sales company</label>
                            <select class="form-control" id="salesCompany" name="salesCompany" th:required="required">
                                <option value="">Select sales company</option>
                                <option th:each="company : ${companies}"
                                        th:value="${company.getId()}"
                                        th:text="${company.getName()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="salesContact">Sales company</label>
                            <select class="form-control" id="salesContact" name="salesContact">
                                <option value="" selected="selected">Select sales contact</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="inqRate">Inquiry rate</label>
                            <input type="text" class="form-control" id="inqRate" name="inqRate" th:required="required" value="0" placeholder="Inquiry rate">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="inqPrice">Inquiry price</label>
                            <input type="text" class="form-control" id="inqPrice" name="inqPrice" th:required="required" value="0" placeholder="Inquiry rate">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="inqCurrency">Currency</label>
                            <select class="form-control" id="inqCurrency" name="inqCurrency">
                                <option value="" selected="selected">Select currency</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <option value="NOK">NOK</option>
                                <option value="RON">RON</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="inqProjectManager">Project manager</label>
                            <select class="form-control" id="inqProjectManager" name="inqProjectManager">
                                <option value="" selected="selected">Select project manager</option>
                                <option th:each="contact : ${contacts}"
                                        th:value="${contact.getId()}"
                                        th:text="${contact.getName()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="inqStatus">Status</label>
                            <select class="form-control" id="inqStatus" name="inqStatus">
                                <option value="" selected="selected">Select status</option>
                                <option value="sent">Sent</option>
                                <option value="running">Running</option>
                                <option value="hold">Hold</option>
                                <option value="canceled">Canceled</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="inqPriority">Priority</label>
                            <select class="form-control" id="inqPriority" name="inqPriority">
                                <option value="" selected="selected">Select priority</option>
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="inqDescription">Inquiry description</label>
                            <textarea class="form-control" id="inqDescription" name="inqDescription"></textarea>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
                <a th:href="@{'/company/index'}" class="btn btn-warning float-right text-white">Cancel</a>
            </form>
        </div>
    </body>
</html>
